---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const {
	title = "Convergence Books",
	description = "The Convergence Books is a young adult fantasy series by Katherine E. Lewis & Rebecca Lewis. Book One: Incarnation available now!",
	image = "/book-one-wordmark.jpeg",
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:site_name" content="Convergence Books" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<link
			rel="stylesheet"
			href="/webfonts/windsore-regular.css"
			type="text/css"
			charset="utf-8"
		/>
	</head>

	<body class="bg-gray-900 text-gray-100">
		<Nav />
		<div id="spacer" class="block"></div>
		<slot />
		<Footer />
		<script>
			if (document.body.clientWidth >= 1009) {
				const nav = document.getElementById("nav");
				const spacer = document.getElementById("spacer");
				if (spacer && nav) {
					spacer.style.height = `${nav.clientHeight}px`;
				}
			}
		</script>
	</body>
</html>
