---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const {
	title = "Convergence Books",
	description = "The Convergence Books is a young adult fantasy series by Katherine E. Lewis & Rebecca Lewis. Book One: Incarnation available now!",
	image = "/book-one-wordmark.jpeg",
} = Astro.props;
const { url } = Astro;
---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-FGPYJ616TV"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-FGPYJ616TV");
		</script>
		<!-- Google Tag Manager -->
		<script type="text/partytown">
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-KPQWQFX");
		</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={url} />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={image} />
		<meta property="og:site_name" content="Convergence Books" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<link
			rel="stylesheet"
			href="/webfonts/windsore-regular.css"
			type="text/css"
			charset="utf-8"
		/>
	</head>

	<body class="bg-gray-900 text-gray-100">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-KPQWQFX"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Nav />
		<div id="spacer" class="hidden h-[60px] lg:block"></div>
		<slot />
		<Footer />
	</body>
</html>
