---
const { h3, subtitle, body, image, id } = Astro.props;
---

<section
	class="flex min-h-[400px] items-center justify-center text-white"
	id={id}
>
	<div class="hero-content max-w-3xl lg:flex">
		<div class="image-wrapper p-8 lg:w-[40%] lg:p-12">
			<img src={image.src} alt={image.alt} />
		</div>
		<div
			class="text-wrapper flex items-center justify-center p-8 lg:w-[60%] lg:p-4"
		>
			<div class="text">
				<h3 class="font mb-3 text-2xl font-extrabold">
					{h3}
				</h3>
				<strong class="mb-2 block text-sm">{subtitle}</strong>
				<p class="text-sm">
					{body}
				</p>
			</div>
		</div>
	</div>
</section>
